<div class="nav-top">
  <div>Signed In As Username</div>
  <div>
    <a href="/">
      <h1>Title</h1>
    </a>
  </div>
  <div class="nav-right">
    <div>
      <img src="images/white-cart.png" />
    </div>
    <div>
      <a href="/signup">
        <button>Sign Up</button>
      </a>
      <a href="/login">
        <button>Login</button>
      </a>
    </div>

  </div>
</div>