<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>
    <% include partials/_main-bg-img %>

    <div class="flex-row-container">
      <a href="/restaurants/1">
        <button>
          Get Started
        </button>
      </a>
    </div>

  </body>
</html>