<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>
    <% include partials/_main-bg-img %>
    <div class="default-mid-container">
    </div>

  </body>
</html>