<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>
    <div class="flex-row-container">
      <div class="default-mid-container">
      </div>
    </div>

    </div>
  </body>
</html>