<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>
    <% include partials/_main-bg-img %>

    <div class="flex-row-container">
      <button>Get Started</button>
    </div>

  </body>
</html>