<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>

    <form id="cart" action="/sms" method="POST">
      <input type="text" name="name" value="+">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>