<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>
    <% include partials/_main-bg-img %>

    <div class="flex-row-container">
      <div class="orders-mid-container">
        <div class="new-order">
        </div>
      </div>
    </div>

  </body>
</html>