.cart-container{
  height:32rem;
  width:48rem;
  background-color:white;
  position:fixed;
  z-index:10000;
  top: 50%;
  left: 50%;
  margin: -16rem 0 0 -24rem;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;

  header{
    width:100%;
    background:#eeeeee;
    color:$default-heading-color;
    padding:0.5em;
    text-align:center;
    border-bottom:1px solid #dddddd;
    flex-grow:0;
  }

  section{
    flex-grow:1;
  }

  table{
    margin-top:1em;
    border-collapse:collapse;

    th{
      border-bottom:1px solid black;
      padding:0em 1em 0em 1em;
    }
    td{
      padding:0em 1em 0em 1em;
    }
  }

  footer{
    padding:1em;
    flex-grow:0;
  }

  button{
    border-radius:$default-button-border-radius;
    color:$default-button-text-color;
    padding:0.2em 0.8em 0.2em 0.8em;
    border:none;
    background-color:blue;
    transition:background-color 1s;

    &:hover{
      background:#4c4cff;
    }
  }
}

.page-mask{
  position:absolute;
  height:100%;
  width:100%;
  background-color:black;
  opacity:0.5;
  z-index:8000;
}