.flex-row-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-align:flex-start;
}

.default-mid-container{
  z-index:50;
  position:relative;
  width: $default-mid-width;
  height:100vh;
}

