.signup-container{
  background:white;
  padding:2em 2em 2em 2em;
  margin-top:30px;
  box-shadow:-1px 1px 1px #333333;

  .sign-up-button{
    font-size:1.5em;
    margin:0 auto 0 auto;
    border:none;
    background:blue;
    color:white;
    border-radius:0.25rem;
    padding:.1em .5em .1em .5em;
  }

  label, input{
    display:block;
    margin:0 auto 1em auto;
    }

  .err-container{

    margin:0.5em auto 0 auto;
    text-align:center;

    h4{
      font-size:1em;
    }

    .signup-err-msg{
      color:red;
      font-size:0.75em
    }
  }
}