$nav-background:blue;
$gutter-color:#eeeeee;
$default-mid-background:white;
$page-min-width:600px;
$default-mid-width:900px;
$default-heading-color:#2d2d2d;
$default-text-color:#444;
$default-button-color:#d62d20;
$default-button-hover-color:#de564c;
$default-button-text-color:#ffffff;
$default-button-border-radius:0.3em;
$add-item-button-color:blue;